{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    
    <!-- Your Post Form Logic -->
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(size=32) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}

    <!-- Your Posts Loop -->
    {% for post in posts %}
        <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
    {% endfor %} <!-- THIS closes the for loop -->

{% endblock %} <!-- THIS closes the content block -->